TIMEOUT=3

:Aether Grim
    PROTOCOL=limine
    KERNEL_PATH=boot:///kernel.elf
    # Replace with your actual path to the background asset
    # BACKGROUND_PATH=boot:///meta/splash.bmp
    INTERFACE_RESOLUTION=1920x1080
    RESOLUTION=1920x1080x32